:root {
  --clr-text-main: #2b283a;
  --clr-text-light: #918e9b;
  --clr-background-light: #ffffff;
  --clr-border: #ddd;
  --clr-gradient-start: #afa1ff;
  --clr-gradient-end: #f387ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-text-main: #fff;
    --clr-text-light: #e5e5e5;
    --clr-background-light: #1d1d1c;
    --clr-border: #444;
    --clr-gradient-start: #5a4eff;
    --clr-gradient-end: #a135ff;
  }
}

.App {
  text-align: left;
  font-family: "Manrope", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--clr-text-main);
  background-color: var(--clr-background-light);
}

.header-component {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  max-height: 30rem;
  opacity: .7;
  background: linear-gradient(to bottom, var(--clr-gradient-start), transparent);
}

.travel-logo {
  margin-right: 2rem;
  max-width: 5rem;
  max-height: 5rem;
}

.header-title {
  font-size: 2rem;
  font-weight: 400;
}

.dest-container {
  display: flex; /* Aligns child elements (dest-image and dest-info) side by side */
  align-items: flex-start; /* Aligns items at the top */
  margin-right: 10rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  position: relative;
  color: var(--clr-text-main);
  background-color: var(--clr-background-light);
}

/* Conditional border class */
.border-bottom::after {
  content: "";
  display: block;
  width: 90%; /* Adjusts the width of the bottom border */
  margin: 0 10% auto;
  border-bottom: 2px solid var(--clr-border);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.dest-image {
  max-width: 25rem;
  max-height: 25rem;
  margin-left: 4.5rem;
  padding: 0.5rem;
  border: 5px solid var(--clr-gradient-end);
  border-image: linear-gradient(var(--clr-gradient-start), var(--clr-gradient-end)) 1;
  margin-right: 2rem;
}

.dest-info {
  display: flex;
  flex-direction: column; /* Stack the paragraphs vertically */
  justify-content: flex-start;
  padding-left: 1rem;
}

.info-header {
  display: flex; /* Aligns the icon and title side by side */
  align-items: center; /* Ensures both the icon and text are vertically aligned */
  margin-bottom: 0.5rem;
}

.travel-icon {
  max-width: 2rem;
  max-height: 2rem;
  margin-right: 0.5rem;
}

.info-title {
  font-size: 1.5rem;
  font-weight: 400;
}

.google-maps-link {
  color: var(--clr-text-light);
  margin-left: 2rem;
}

.dates-info {
  font-size: 1.5rem;
  font-weight: 700;
}

.dest-title {
  font-size: 2rem;
  font-weight: 800;
}

.footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-size: 12px; 
  color: var(--clr-text-light);
}
